calls_data.json
+data/calls_data.json
__pycache__/cluster_creator.cpython-310.pyc
__pycache__/data_loader.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/time_analysis.cpython-310.pyc
__pycache__/export_excel.cpython-310.pyc
.~lock.output_clusters.xlsx#
__pycache__/time_analysis.cpython-312.pyc
__pycache__/data_loader.cpython-312.pyc
output/.~lock.output_clusters_important_v1_before_further_testing.xlsx#
__pycache__/advanced_cluster_creator.cpython-310.pyc
__pycache__/advanced_time_analysis.cpython-310.pyc
__pycache__/advanced_export_excel.cpython-310.pyc
__pycache__/advanced_cluster_creator.cpython-312.pyc
__pycache__/advanced_export_excel.cpython-312.pyc       
.~lock.comparison_report.xlsx#
.gitignore
